
body {
    background-color: powderblue;
    font-size: 20px;
}
h1 {
    color: white;
}
p {
    color: black
}
div {
    border: 16px solid white;
    margin-top: 100px;
    margin-bottom: 200px;
    margin-right: 880px;
    margin-left: 80px;
    background-color: white;
}
